pypdf
langchain 
langchain-community 
langchain-text-splitters
sentence-transformers
langchain-huggingface
chromadb
bm25
groq
python-dotenv
pymupdf
fastapi 
uvicorn
rank-bm25
pydantic
streamlit
requests
numpy
scikit-learn
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.13.0+cpu